.header {
display: flex;
flex-direction: row;
align-items: center;
padding: 28px 64px;
position: relative;
background: #F7F7F7;
border-bottom: 1px solid #F2F4F7;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  list-style-type: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo_cont {
  z-index: 2;
}


.text {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #101828;
margin: 0;
text-decoration: none;
}

.text:hover {
color: #D84343;
}